@charset "UTF-8";

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote,
q {
  quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

a {
  color: #221815;
  text-decoration: none;
}

a:visited {
  color: #221815;
}

a:hover,
a:focus,
a:active {
  color: #221815;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

ul,
ol {
  list-style: none;
  margin: 0 0 1em;
  padding: 0 0 0 1em;
}

ul > li {
  position: relative;
}

ul > li:before {
  content: "・";
  display: block;
  left: -1em;
  position: absolute;
  top: 0;
}

ol > li {
  counter-increment: number;
  position: relative;
}

ol > li:before {
  content: counter(number) ".";
  display: inline-block;
  margin-left: -1em;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dl {
  margin: 0 auto 30px;
}

dl:before,
dl:after {
  content: "";
  display: table;
  table-layout: fixed;
}

dl:after {
  clear: both;
}

dt {
  clear: left;
  font-weight: normal;
  float: left;
  width: 100px;
}

dt p:last-child {
  margin: 0;
}

dd {
  clear: right;
  float: left;
  margin: 0;
  width: calc(100% - 100px);
}

dd p:last-child {
  margin: 0;
}

table {
  margin: 0 0 1em;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

th {
  font-weight: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

body,
button,
input,
select,
textarea {
  color: #221815;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.c-breadcrumb {
  padding: 9px 0;
}

.c-list.line li:before {
  content: "-";
}

.c-pageContent {
  margin: 140px auto 0;
  max-width: 630px;
}

.c-pageContent__section {
  margin-top: 70px;
}

.c-pageContent__section h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.c-pageContent__section p {
  margin-top: 14px;
}

.c-pageContent__section p:first-child {
  margin-top: 0;
}

.c-pageContent__image {
  margin-top: 28px;
  margin-bottom: 28px;
}

.c-pageContent__image:first-child {
  margin-top: 0;
}

.c-pageContent__image:last-child {
  margin-bottom: 0;
}

.c-pageContent__image.large {
  margin-left: -280px;
  padding: 0 14px;
  width: 1190px;
}

.c-pageContent__image img {
  display: block;
  margin: 0 auto;
}

.c-pageTitle {
  background: #eeeeee;
  margin-top: -56px;
  padding: 70px 0;
}

.c-pageTitle h2 {
  font-size: 28px;
}

.c-pageTitle h2 span {
  font-weight: bold;
}

.c-profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 28px;
}

.c-profile__image {
  width: 210px;
}

.c-profile__image img {
  display: block;
}

.c-profile__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 70px;
  width: calc(100% - 280px);
}

.c-profile__name {
  height: 37px;
  margin-top: -9px;
  width: 100%;
}

.c-profile__name span {
  font-size: 18px;
  font-weight: bold;
}

.c-profile__field {
  margin-right: calc(100% - 490px);
  margin-top: 21px;
  width: 490px;
}

.c-profile__field span {
  display: inline-block;
}

.c-profile__message {
  margin-top: 28px;
  position: relative;
  width: 490px;
}

.c-profile__message:before {
  background: rgba(34, 24, 21, 0.5);
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: -14px;
  width: 28px;
}

.c-profile__link {
  margin-left: 70px;
  margin-top: 28px;
  width: calc(100% - 560px);
}

.c-profile__link ul {
  margin: 0;
  padding: 0;
}

.c-profile__link li {
  margin-top: 14px;
}

.c-profile__link li:first-child {
  margin-top: 0;
}

.c-profile__link li:before {
  content: none;
}

.c-profile__link span {
  background: url("../images/common/arrow_right[1].svg") no-repeat right bottom 8px;
  background-size: 7px 12px;
  color: #221815;
  display: inline-block;
  font-weight: bold;
  padding-right: 14px;
  transition: all 0.3s ease;
}

.c-profile__link a {
  color: #00873b;
  word-break: break-all;
}

.c-section {
  margin-bottom: 28px;
}

.c-section__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c-section__heading {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  font-size: 28px;
  line-height: 49px;
  margin-top: -10.5px;
  width: 392px;
}

.c-section__heading span {
  display: inline-block;
}

.c-section__content {
  margin-bottom: 7px;
  margin-top: -7px;
  width: 490px;
}

.c-section__content p {
  margin-bottom: 28px;
}

.c-section__content h4 {
  font-weight: bold;
}

.c-teacherList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 33px 0 0 -28px;
  padding: 0;
}

.c-teacherList li {
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.7;
  margin-left: 28px;
  min-height: 119px;
  padding: 11px 0 28px;
  width: calc(50% - 28px);
}

.c-teacherList li:nth-child(1),
.c-teacherList li:nth-child(2) {
  border-top: 1px solid #d9d9d9;
}

.c-teacherList li:before {
  content: none;
}

.c-teacherList a {
  display: block;
  padding-right: 21px;
  position: relative;
}

.c-teacherList a:after {
  background: url("../images/common/arrow_right[1].svg") no-repeat;
  background-size: 7px 12px;
  content: " ";
  display: block;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 9px;
  width: 7px;
}

.c-teacherList b {
  display: inline-block;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 7px;
}

.c-teacherList span {
  display: inline-block;
  font-size: 12px;
}

.l-footer {
  background: #EEE;
  margin: 70px auto 0;
  padding-top: 28px;
  padding-bottom: 14px;
}

.l-footer__pagetop {
  height: 28px;
  margin: 0 0 0 auto;
  width: 28px;
}

.l-footer__pagetop img {
  display: block;
}

.l-footer__nav {
  font-size: 12px;
  letter-spacing: .1em;
  margin-top: -14px;
  margin-bottom: 52px;
}

.l-footer__nav a {
  display: inline-block;
}

.l-footer__copyright {
  font-size: 10px;
  line-height: 28px;
}

.l-header {
  padding: 34px 0 0;
}

.l-header__logo {
  position: relative;
}

.l-header__logo img {
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 164px;
}

.l-header__title {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  padding-left: 214px;
  padding-top: 5px;
}

.l-header__title a {
  display: -ms-flexbox;
  display: flex;
}

.l-header__title b {
  display: block;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: .12em;
  line-height: 1.2;
}

.l-header__title small {
  display: block;
  font-size: 14px;
  line-height: 1.42857;
}

.l-header__nav__button {
  display: none;
}

.l-header__nav__button.is-open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.l-header__nav__button.is-open span:nth-child(2) {
  opacity: 0;
}

.l-header__nav__button.is-open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.l-header__nav__list {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 6px 14px 5px 210px;
  width: 1190px;
}

.l-header__nav__list a {
  color: #FFF;
  display: block;
  font-size: 14px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  transition: all 0.3s ease;
}

.l-header__nav__list span {
  display: inline-block;
}

.l-wrapper {
  overflow: hidden;
  margin: 0 auto;
  min-width: 1190px;
}

.l-main {
  padding-top: 56px;
}

.l-container {
  padding: 0 14px;
  margin: 0 auto;
  width: 1190px;
}

.l-container--narrow {
  padding: 0 126px;
  margin: 0 auto;
  width: 1190px;
}

.p-about {
  background: url(../images/index/about@2x[1].png) no-repeat bottom;
  background-size: 100% auto;
  margin: 0 auto;
  max-width: 1420px;
  padding-bottom: 52.8169%;
}

.p-access__map {
  margin-left: -140px;
  width: 630px;
}

.p-access__map img {
  display: block;
  width: 100%;
}

.p-access__map__link {
  background: url("../images/common/arrow_right[1].svg") no-repeat right center;
  background-size: 5px 8px;
  color: #00873b;
  display: inline-block;
  padding-right: 10px;
  transition: all 0.3s ease;
}

.p-access__map__link:hover {
  color: #00873b;
  transform: translateX(4px);
}

.p-curriculum__image {
  background-color: #EEE;
  margin-bottom: 133px;
}

.p-curriculum__image img {
  display: block;
  max-width: 1327px;
  margin: 0 auto;
  width: 100%;
}

.p-curriculum__image img.curriculum2 {
  max-width: 752px;
}

.p-index__main {
  position: relative;
}

.p-index__mainimage img {
  display: block;
}

.p-index__maintext {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.p-index__row {
  display: -ms-flexbox;
  display: flex;
}

.p-index__teachers {
  margin-top: 70px;
  width: calc(100% - 364px);
}

.p-index__teachers_heading {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  font-size: 28px;
  letter-spacing: .2em;
  line-height: 1.7;
}

.p-index__facebook {
  margin-left: 28px;
  margin-top: 150px;
  min-height: 300px;
  width: 336px;
}

.p-index__facebook > .fb-page {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.p-index__facebook > .fb-page > span,
.p-index__facebook iframe {
  width: 100% !important;
}

.p-research__heading {
  background: url("../images/research/research_bg[1].jpg") no-repeat right 14px top 196px;
}

.p-research__prof {
  margin-bottom: 14px;
}

.p-research__prof:not(:first-child) {
  margin-top: 63px;
}

.p-research__prof:after {
  background: rgba(34, 24, 21, 0.4);
  content: " ";
  display: block;
  height: 1px;
  width: 28px;
}

.p-research__prof p {
  margin-bottom: 14px;
}

.p-research__prof__image {
  height: 210px;
  margin-left: auto;
  margin-right: 0;
  width: 210px;
}

.p-research__prof__image img {
  display: block;
}

.p-research__prof__name {
  margin-bottom: 28px;
  margin-top: -21px;
}

.p-research__prof__name strong {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin-right: .3em;
}

.p-research__prof.small {
  position: relative;
}

.p-research__prof.small .p-research__prof__image {
  height: 94px;
  margin-top: 7px;
  position: absolute;
  right: 0;
  top: 0;
  width: 94px;
}

.p-research__prof.small .p-research__prof__name {
  margin-top: 0;
}

.p-research__prof.small > p {
  padding-right: 119px;
}

.u-ta-l {
  text-align: left;
}

.u-ta-c {
  text-align: center;
}

.u-ta-r {
  text-align: right;
}

.u-ta-j {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

.u-bdr-t {
  border-top: 1px solid !important;
}

.u-bdr-b {
  border-bottom: 1px solid !important;
}

.u-bdr-l {
  border-left: 1px solid !important;
}

.u-bdr-r {
  border-right: 1px solid !important;
}

.u-c-black {
  color: #000 !important;
}

.u-c-white {
  color: white !important;
}

.u-cs-a {
  cursor: auto;
}

.u-cs-p {
  cursor: pointer;
}

.u-mt-0 {
  margin-top: 0px !important;
}

.u-mt-5 {
  margin-top: 5px !important;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-15 {
  margin-top: 15px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mt-25 {
  margin-top: 25px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mt-35 {
  margin-top: 35px !important;
}

.u-mt-40 {
  margin-top: 40px !important;
}

.u-mt-45 {
  margin-top: 45px !important;
}

.u-mt-50 {
  margin-top: 50px !important;
}

.u-mt-55 {
  margin-top: 55px !important;
}

.u-mt-60 {
  margin-top: 60px !important;
}

.u-mt-65 {
  margin-top: 65px !important;
}

.u-mt-70 {
  margin-top: 70px !important;
}

.u-mt-75 {
  margin-top: 75px !important;
}

.u-mt-80 {
  margin-top: 80px !important;
}

.u-mt-85 {
  margin-top: 85px !important;
}

.u-mt-90 {
  margin-top: 90px !important;
}

.u-mt-95 {
  margin-top: 95px !important;
}

.u-mt-100 {
  margin-top: 100px !important;
}

.u-mb-0 {
  margin-bottom: 0px !important;
}

.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mb-15 {
  margin-bottom: 15px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-25 {
  margin-bottom: 25px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-mb-35 {
  margin-bottom: 35px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-mb-45 {
  margin-bottom: 45px !important;
}

.u-mb-50 {
  margin-bottom: 50px !important;
}

.u-mb-55 {
  margin-bottom: 55px !important;
}

.u-mb-60 {
  margin-bottom: 60px !important;
}

.u-mb-65 {
  margin-bottom: 65px !important;
}

.u-mb-70 {
  margin-bottom: 70px !important;
}

.u-mb-75 {
  margin-bottom: 75px !important;
}

.u-mb-80 {
  margin-bottom: 80px !important;
}

.u-mb-85 {
  margin-bottom: 85px !important;
}

.u-mb-90 {
  margin-bottom: 90px !important;
}

.u-mb-95 {
  margin-bottom: 95px !important;
}

.u-mb-100 {
  margin-bottom: 100px !important;
}

.u-pt-0 {
  padding-top: 0 !important;
}

.u-fs-8 {
  font-size: 8px !important;
}

.u-fs-9 {
  font-size: 9px !important;
}

.u-fs-10 {
  font-size: 10px !important;
}

.u-fs-11 {
  font-size: 11px !important;
}

.u-fs-12 {
  font-size: 12px !important;
}

.u-fs-13 {
  font-size: 13px !important;
}

.u-fs-14 {
  font-size: 14px !important;
}

.u-fs-15 {
  font-size: 15px !important;
}

.u-fs-16 {
  font-size: 16px !important;
}

.u-fs-17 {
  font-size: 17px !important;
}

.u-fs-18 {
  font-size: 18px !important;
}

.u-fs-19 {
  font-size: 19px !important;
}

.u-fs-20 {
  font-size: 20px !important;
}

.u-fs-21 {
  font-size: 21px !important;
}

.u-fs-22 {
  font-size: 22px !important;
}

.u-fs-23 {
  font-size: 23px !important;
}

.u-fs-24 {
  font-size: 24px !important;
}

.u-fs-25 {
  font-size: 25px !important;
}

.u-fs-26 {
  font-size: 26px !important;
}

.u-fs-27 {
  font-size: 27px !important;
}

.u-fs-28 {
  font-size: 28px !important;
}

.u-fs-29 {
  font-size: 29px !important;
}

.u-fs-30 {
  font-size: 30px !important;
}

.u-fs-31 {
  font-size: 31px !important;
}

.u-fs-32 {
  font-size: 32px !important;
}

.u-fs-33 {
  font-size: 33px !important;
}

.u-fs-34 {
  font-size: 34px !important;
}

.u-fs-35 {
  font-size: 35px !important;
}

.u-fs-36 {
  font-size: 36px !important;
}

.u-fs-37 {
  font-size: 37px !important;
}

.u-fs-38 {
  font-size: 38px !important;
}

.u-fs-39 {
  font-size: 39px !important;
}

.u-fs-40 {
  font-size: 40px !important;
}

.u-fs-o {
  font-style: oblique !important;
}

.u-td-u {
  text-decoration: underline !important;
}

.u-fw-n {
  font-weight: normal !important;
}

.u-fw-b {
  font-weight: bold !important;
}

@media screen and (min-width: 769px) {
  .l-header__title .title1 {
    padding-right: 20px;
    position: relative;
  }

  .l-header__title .title1:after {
    background: #000;
    content: " ";
    display: block;
    height: 67px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 1px;
  }

  .l-header__title .title2 {
    padding-left: 25px;
  }

  .l-header__nav {
    background: #AAA;
    margin-top: 7px;
  }

  .l-header__nav__list a {
    letter-spacing: .1em;
    line-height: 2.21429;
    position: relative;
    text-align: center;
    width: 140px;
  }

  .l-header__nav__list a:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .l-header__nav__list a:first-child:before {
    background: #FFF;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }

  .l-header__nav__list a:after {
    background: #FFF;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }

  .p-index__main {
    background: #EEE;
    margin-top: -39px;
  }

  .p-index__mainimage img {
    width: 938px;
  }

  .p-index__maintext {
    font-size: 28px;
    position: absolute;
    left: calc(50% + 428px);
    top: 94px;
  }

  .u-pc-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1420px) {
  .p-about {
    padding-bottom: 750px;
  }
}

@media screen and (max-width: 768px) {
  .c-breadcrumb {
    display: none;
  }

  .c-pageContent {
    margin-top: 98px;
  }

  .c-pageContent__image {
    margin-left: calc(50% - 50vw);
    width: 100vw;
  }

  .c-pageContent__image.large {
    margin-left: calc(50% - 50vw);
    padding: 0;
    width: 100vw;
  }

  .c-pageTitle {
    padding: 4px 0;
  }

  .c-pageTitle h2 {
    font-size: 24px;
  }

  .c-profile {
    display: block;
  }

  .c-profile__image {
    margin: 0 auto;
  }

  .c-profile__content {
    display: block;
    margin-left: 0;
    margin-top: 33px;
    width: 100%;
  }

  .c-profile__name {
    margin-top: 0;
  }

  .c-profile__field {
    margin-right: 0;
    width: 100%;
  }

  .c-profile__message {
    width: 100%;
  }

  .c-profile__link {
    margin-left: 0;
    width: 100%;
  }

  .c-section {
    margin-bottom: 56px;
  }

  .c-section__inner {
    display: block;
  }

  .c-section__heading {
    width: 100%;
  }

  .c-section__content {
    margin-top: 14px;
    text-align: justify;
    width: 100%;
  }

  .c-teacherList {
    display: block;
    margin-left: 0;
  }

  .c-teacherList li {
    margin-left: 0;
    min-height: 0;
    width: 100%;
  }

  .c-teacherList li:nth-child(2) {
    border-top: none;
  }

  .c-teacherList a:after {
    right: 0;
  }

  .l-footer {
    margin-top: 28px;
  }

  .l-footer__pagetop {
    margin-bottom: 28px;
  }

  .l-footer__nav {
    margin-bottom: 21px;
  }

  .l-header {
    padding-top: 28px;
    padding-bottom: 20px;
  }

  .l-header__logo img {
    height: 79.45px;
    top: 91px;
    width: 117px;
  }

  .l-header__title {
    margin-right: -6px;
    padding-top: 0;
    padding-left: 178px;
  }

  .l-header__title a {
    display: block;
  }

  .l-header__title b {
    font-size: 26px;
  }

  .l-header__title small {
    font-size: 12px;
    line-height: 1.5;
  }

  .l-header__title .title2 {
    display: inline-block;
    margin-top: 21px;
  }

  .l-header__nav {
    position: fixed;
    top: 28px;
    width: 100%;
    z-index: 10;
  }

  .l-header__nav__button {
    background: #585858;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 42px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 42px;
    z-index: 11;
  }

  .l-header__nav__button span {
    background: #FFF;
    display: block;
    height: 2px;
    left: 11px;
    position: absolute;
    transition: all 0.3s ease;
    width: 19px;
  }

  .l-header__nav__button span:nth-child(1) {
    top: 13px;
  }

  .l-header__nav__button span:nth-child(2) {
    top: 20px;
  }

  .l-header__nav__button span:nth-child(3) {
    top: 27px;
  }

  .l-header__nav__list {
    display: none;
    background: #585858;
    height: auto;
    margin-left: 0;
    padding: 60px 42px 42px;
    max-width: 392px;
    width: calc(100% - 28px);
  }

  .l-header__nav__list a {
    font-size: 20px;
    margin-bottom: 21px;
  }

  .l-wrapper {
    min-width: 0;
  }

  .l-container {
    padding: 0 28px;
    width: 100%;
  }

  .l-container--narrow {
    padding: 0 28px;
    width: 100%;
  }

  .p-about {
    background-size: 140vw auto !important;
    background-position: left -25vw bottom !important;
    margin-bottom: 0;
    padding-bottom: 70vw;
  }

  .p-access {
    margin-bottom: 0;
  }

  .p-access__map {
    margin-left: 0;
    width: 100%;
  }

  .p-access__map__link:hover {
    transform: none;
  }

  .p-curriculum__image {
    margin-bottom: 63px;
    overflow-x: scroll;
  }

  .p-curriculum__image img {
    max-width: none;
    width: 1200px;
  }

  .p-curriculum__image img.curriculum2 {
    width: 752px;
  }

  .p-index__main {
    margin-top: -56px;
  }

  .p-index__mainimage {
    margin-left: -28px;
    width: 100vw;
  }

  .p-index__maintext {
    font-size: 21px;
    height: 231px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: -10.5px;
    margin-top: 35px;
    width: 100%;
  }

  .p-index__row {
    display: block;
  }

  .p-index__teachers {
    margin-top: 28px;
    width: 100%;
  }

  .p-index__facebook {
    margin-left: 0;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 100%;
  }

  .p-research {
    margin-bottom: 0;
  }

  .p-research__heading {
    background: none;
  }

  .p-research__prof__image {
    height: 140px;
    margin-top: 49px;
    width: 140px;
  }

  .p-research__prof__name.line2 {
    margin-top: -49px;
  }

  .p-research__prof__name.line2 strong {
    display: block;
  }

  .u-sp-hide {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1190px) {
  .p-about {
    padding-bottom: 628.52113px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .p-research__heading {
    background: url("../images/research/research_bg@2x.jpg") no-repeat right 14px top 196px;
    background-size: 267px 1766px;
  }
}